* {
    margin: 0
}
input {
    all: unset;
}

textarea {
    background-color: transparent;
    border: none;
    overflow: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}
