@charset "utf-8";

.main {
    display: flex;
    background-color: rgb(250, 250, 250);
}
#page {
    width: calc(100% - 230px);
    height: 100vh;
    margin-left: 230px;
    padding: 0px 20px 0px 20px;
    background-image: linear-gradient(141deg,#e9edf3,#c4dced);
    overflow: auto;
}
.search-area {
    padding-top: 20px;
    margin-bottom: 5px;
}

.search-container {
    width: 500px;
    height: 50px;
    padding-left: 0px;
    background-color: white;
    border: 1px solid #d3dede3e;
    border-radius: 30px;
}

.search-text {
    display: flex;
    padding: 0 5px ;
    width: 400px;
    cursor: pointer;
}
.search-text::placeholder {
    padding: 0 5px ;
    color: rgba(0, 0, 0, 0.4);
    width: 400px;
    cursor: pointer;
}

.search-icon {
    padding: 0;
    padding-left: 10px;
    color: black;
    font-weight: bold;
}
.board-area {
    padding: 0;
    /* padding: 25px; */
    /* background-color: blanchedalmond; */
}

.board-list {
    gap: 10px;
    padding: 15px 0 0px 0px;
    width: 100%;
    /* background: rgba(0, 0, 0, 0.069); */
}

.board-container {
    width: 100%;
    height: 120px;
    padding: 10px;
    background-color: hsla(0,0%,100%,.5);

    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
    border: 1px solid #d3dede3e;
    font-size: 25px;
    border-radius: 10px;
    -webkit-transition: background-color 0.5s;
    -moz-transition:    background-color 0.5s;
    -ms-transition:     background-color 0.5s;
    -o-transition:      background-color 0.5s;
    transition:         background-color 0.5s;
}
.board-container:hover {
    background-color: rgba(230, 255, 250, 0.2);
    border: 1px solid #00ae87;
}

.board-text {
    display: flex;
    padding: 0 5px ;
    width: 400px;
    cursor: pointer;
}
.board-text::placeholder {
    padding: 0 5px ;
    color: rgba(0, 0, 0, 0.323);
    width: 400px;
    cursor: pointer;
}
/* oop :: table > row > cell */
.table-area {
    padding: 0px;
}

.table-title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.table-search{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
}
.table-search .xy-center {
    gap: 3px;
    font-size: medium;
    font-family: JSDongkang,Roboto,sans-serif;

}
/* font-family: "Noto Sans KR", 돋움, Dotum, sans-serif; */


.table-search .xy-center div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px ;
    cursor: pointer;
    /* -webkit-transition: all .25s; */
    /* transition: all .25s; */

}

.table-list {
    gap: 10px;
    padding: 15px 0 0px 0px;
    width: 100%;
}

.table-container {
    width: 100%;
    padding: 10px;
    background-color: rgb(255 255 255 / 80%);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
    border: 1px solid #d3dede3e;
    border-radius: 10px;
    font-size: 16px;
    font-family: JSDongkang,Roboto,sans-serif;
    font-style: normal;
}

.table-area .row {
    height: 35px;
}
.table-area .row:hover {
    background-color: rgba(201, 239, 205, 0.2);
}
.table-area .row:nth-child(even) {
    background-color: rgb(200 200 200 / 20%);
}
.table-area .row:nth-child(even):hover {
    background-color: rgba(201, 239, 205, 0.2);
}



.table-area .cell {
    height: 35px;
    padding-left: 5px;
    border-top: 1px rgba(40, 50, 42, 0.1) solid;
}

.table-area .table-title .cell {
    border-top: 0px
}

/* type-TableDetail */

.type-TableDetail .row {
    width: 100%;
    height: 55px;
    padding-left: 5px;
}

.type-TableDetail .row:hover {
    background-color: rgba(201, 239, 205, 0.2);
}

.type-TableDetail .row:nth-child(even):hover {
    background-color: rgba(201, 239, 205, 0.2);
}


.type-TableDetail .cell {
    height: 35px;
    padding-left: 5px;
    border-bottom: 1px rgba(40, 50, 42, 0.1) solid;
}

/* flex , display */
.x {
    display: flex;
}

.center {
    /* table center */
    text-align: center;
    vertical-align: middle;
}

.xy-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.x-center {
    display: flex;
    justify-content: center;
}

.y-start {
    display: flex;
    flex-direction: column

}

.y-center {
    display: flex;
    flex-direction: column ;
    align-items: center;
}

/* flex , gap */
.gap-10px {
    gap: 10px;
}
.gap-20px {
    gap: 20px;
}

.gap-16px {
    gap: 16px;
}

.gap-32px {
    gap: 32px;
}

/* height */
.h-12px {
    height: 12px;
}

.h-16px {
    height: 16px;
}

.h-32px {
    height: 32px;
}

.h-64px {
    height: 64px;
}

/* padding */

.p-10px {
    padding: 10px;
}

.p-12px {
    padding: 12px;
}

.p-16px {
    padding: 16px;
}

.p-32px {
    padding: 32px;
}

.p-64px {
    padding: 64px;
}

/* padding-bottom */
.pb-12px {
    padding-bottom: 12px;
}

.pb-16px {
    padding-bottom: 16px;
}

.pb-32px {
    padding-bottom: 32px;
}

.pb-64px {
    padding-bottom: 64px;
}

/* padding-top */
.pt-12px {
    padding-top: 12px;
}

.pt-16px {
    padding-top: 16px;
}

.pt-32px {
    padding-top: 32px;
}

.pt-64px {
    padding-top: 64px;
}



/* width */
.w-\[100\%\] {
    width: 100%;
}

/* font */
.font-12px{
    font-size: 12px !important;
}

.font-16px{
    font-size: 16px !important;
}

.font-20px{
    font-size: 20px !important;
}

.font-40px{
    font-size: 40px !important;
}

.font-bold{
    font-weight: 700;
}

.color-grey{
    color: grey;
}

.hidden{
    display: none !important;
}

.selectedPage {
    background-color: rgba(201, 239, 205, 0.6);
    border: 1px solid white;
    border-radius: 10px;
}
/* table > row > cell */
.table {
    display: table;
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
    vertical-align: middle;
}
.type-1 {
    /* background-color: aliceblue; */
    /* height: 60px; */
    text-align: center;
    font-size: 15px;
    padding-left: 20px;
}

.type-2{
    text-align: center;
    padding-right: 20px;
}

.type-2 span {
    padding: 5px 15px;
    text-align: center;
    font-size: 13px;
    border: 1px rgb(26, 180, 62) solid;
    border-radius: 7px;
    color: green;
    cursor: pointer;
    -webkit-transition: background-color 0.2s;
    -moz-transition:    background-color 0.2s;
    -ms-transition:     background-color 0.2s;
    -o-transition:      background-color 0.2s;
    transition:         background-color 0.2s;
}

.type-2 span:hover {
    background-color: rgba(7, 21, 19, 0.892);
    padding: 5px 15px;
    text-align: center;
    font-size: 13px;
    border: 1px rgb(3, 20, 7) solid;
    border-radius: 7px;
    color: white;
    font-weight: bold;
}

.type-3{
    color: green;
    text-decoration: underline;
    cursor: pointer;
}

.cell.type-button {
    padding: 5px 15px;
    text-align: center;
    font-size: 13px;
    border: 1px rgb(26, 180, 62) solid;
    border-radius: 7px;
    color: rgb(42, 183, 42);
    cursor: pointer;
    -webkit-transition: background-color 0.2s;
    -moz-transition:    background-color 0.2s;
    -ms-transition:     background-color 0.2s;
    -o-transition:      background-color 0.2s;
    transition:         background-color 0.2s;
}
.cell.type-button:hover {
    background-color: rgba(7, 21, 19, 0.892);
    padding: 5px 15px;
    text-align: center;
    font-size: 13px;
    border: 1px rgb(250, 250, 250) solid;
    border-radius: 7px;
    color: white;
    /* font-weight:600; */
}

.type-button {
    color: green;
    font-weight: 600;
}

._search .type-arrow {
    /* color: #14e0e000; */
    color: rgba(3, 2, 2, 0.525);
    border-radius: 5px;
    border: 1px solid #f0f3f5;
    background-position: 50% 50%;
    width: 35px;
}
._search .type-arrow:hover {
    color: rgb(65, 137, 65);
}
._search .type-plain-text {
    cursor: default !important;
}
._search .type-search {
    border-radius: 5px;
    border: 1px solid #f0f3f5;
    background-position: 50% 50%;
    /* width: 100px; */
    width: 70px;
}
._search .type-search:hover {
    color: rgb(65, 137, 65);
}
._search .type-text-btn > span{
    padding: 5px;
}

._search .margin-right {
    margin-right: 5px;
}

._search .text-center {
    text-align: center;
}

.type-detail-head {
    width: 250px;
    font-weight: 700;
}

.nft-image{
    width: 60%;
    height: 400px;
    background-color: white;
}

/* flex , display */
.x {
    display: flex;
}

.center {
    /* table center */
    text-align: center;
    vertical-align: middle;
}

.xy-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.x-center {
    display: flex;
    justify-content: center;
}

.y-start {
    display: flex;
    flex-direction: column

}

.y-center {
    display: flex;
    flex-direction: column ;
    align-items: center;
}

/* flex , gap */
.gap-10px {
    gap: 10px;
}
.gap-20px {
    gap: 20px;
}

.gap-16px {
    gap: 16px;
}

.gap-32px {
    gap: 32px;
}

/* height */
.h-12px {
    height: 12px;
}

.h-16px {
    height: 16px;
}

.h-32px {
    height: 32px;
}

.h-64px {
    height: 64px;
}

/* padding */

.p-10px {
    padding: 10px;
}

.p-12px {
    padding: 12px;
}

.p-16px {
    padding: 16px;
}

.p-32px {
    padding: 32px;
}

.p-64px {
    padding: 64px;
}

/* padding-bottom */
.pb-12px {
    padding-bottom: 12px;
}

.pb-16px {
    padding-bottom: 16px;
}

.pb-32px {
    padding-bottom: 32px;
}

.pb-64px {
    padding-bottom: 64px;
}

/* padding-top */
.pt-12px {
    padding-top: 12px;
}

.pt-16px {
    padding-top: 16px;
}

.pt-32px {
    padding-top: 32px;
}

.pt-64px {
    padding-top: 64px;
}



/* width */
.w-\[100\%\] {
    width: 100%;
}

/* font */
.font-12px{
    font-size: 12px !important;
}

.font-16px{
    font-size: 16px !important;
}

.font-20px{
    font-size: 20px !important;
}

.font-40px{
    font-size: 40px !important;
}

.font-bold{
    font-weight: 700;
}

.color-grey{
    color: grey;
}
.color-grey{
    color: grey;
}


.hidden{
    display: none !important;
}

.selectedPage {
    background-color: rgba(201, 239, 205, 0.6);
    border: 1px solid white;
    border-radius: 10px;
}


