@charset "utf-8";
@import url(./tooltip.css);

.con-wrap {
  min-height: calc(100vh - 350px);
}

.con-wrap > * {
  gap: var(--pad);
}

.board-comp {
  grid-column: span 3;
  grid-template-columns: repeat(2, 50%);
  gap: 8px;
  > * {
    grid-column: span 1;
  }
  > :first-child {
    grid-row: 1;
    grid-column: 1 / 3;
    font-weight: var(--bold);
  }
  > :nth-child(2) {
    grid-row: 2;
    grid-column: 1 / 3;
    font-size: var(--t-text);
    font-weight: var(--bold);
    color: var(--b1);
  }
  > :nth-child(3) {
    grid-row: 3;
    display: flex;
    gap: 11px;
    align-items: center;
    > :first-child {
      padding: 4px 6px;
      font-size: 10px;
      background-color: var(--w3);
      border-radius: var(--br);
    }
    > :last-child {
      font-size: 12px;
      font-weight: var(--bold);
      &.pos {
        color: var(--darken-pri);
        &::before {
          content: "+";
        }
      }
      &.neg {
        color: var(--darken-sec);
      }
    }
  }
  svg {
    grid-row: 3 / 4;
    fill: transparent;
    aspect-ratio: 4;
    justify-self: end;
    align-self: self-end;
    width: 100%;
    path {
      stroke: var(--lighten-pri);
      stroke-width: 1;
      stroke-linejoin: round;
    }
    polyline {
      fill: var(--lightest-pri);
    }
  }
  @media screen and (max-width: 1200px) {
    grid-column: span 6;   
  }
}

nav {
  display: flex;
  gap: calc(2 * var(--pad));
  padding-top: var(--pad);
  padding-bottom: 12px;
  align-items: baseline;
  * {
    font-size: var(--t-text);
    color: var(--b1);
    font-weight: var(--bold);
  }
  > :first-child {
    font-size: 32px;
    cursor: pointer;
  }
}

.con-wrap > .table-container:not(:last-child) {
  margin-bottom: calc(var(--pad) - 8px);
}
.table-container {
  grid-column: span 6;
  background-color: var(--w0);
  border-radius: var(--br);
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--pad) / 2);
  border: 1px solid var(--lightest-pri);
  padding: var(--pad);
  position: relative;
}
.detail.table-container {
  row-gap: var(--pad);
}
.main-table .table-container {
  row-gap: var(--br);
}
.table-head {
  font-weight: var(--bold);
}
.table-container .row {
  display: grid;
  padding-bottom: calc(var(--pad) / 2);
  border-bottom: 1px solid var(--lightest-pri);
  gap: var(--pad);
}
.table-container .row > * {
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-container.blc .row {
  grid-template-columns: 2fr 2fr 7fr 1fr;
}
.table-container.tx-m .row {
  grid-template-columns: 5fr 2fr 5fr;
}
.table-container.tx .row {
  grid-template-columns: 4fr 1fr 1fr 4fr 2fr;
}
.table-container.accs .row {
  grid-template-columns: 5fr 3fr 2fr 2fr;
}
.table-container.nfts .row {
  grid-template-columns: 1fr 5fr 2fr 2fr 2fr;
}
.table-container.nft-token .row {
  grid-template-columns: 1fr 3fr 4fr 3fr 1fr;
}
.table-container.nft .row {
  grid-template-columns: 3fr 1fr 2fr 3fr 3fr;
}
.table-container.vds .row {
  grid-template-columns: 5fr 3fr 4fr;
}
.table-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: calc(2 * var(--br));

  > :first-child {
    font-size: var(--t-text);
    color: var(--b1);
    font-weight: var(--bold);
  }
  > :last-child {
    color: var(--w0);
    font-size: 10px;
    background-color: var(--primary);
    border-radius: var(--br);
    padding: 4px 16px;
  }
}

.page-title {
  display: block;
  font-size: var(--t-text);
  font-weight: var(--bold);
  color: var(--b1);
}

.detail .row {
  grid-template-columns: repeat(12, 1fr);
  padding-bottom: 0;
  border: none;
  :first-child {
    grid-column: span 4;
  }
  :last-child {
    grid-column: span 8;
  }
  &:last-child {
    padding-bottom: 0;
  }
}
.detail .row.tri {
  :first-child {
    font-weight: var(--bold);
    grid-column: span 2;
  }
  :nth-child(2) {
    grid-column: span 5;
  }
  :last-child {
    grid-column: span 5;
  }
}

.nft-detail {
  gap: 24px;
}

.nft-detail > img, .nft-detail > video {
  grid-column: span 4;
  width: 100%;
}
.nft-detail > .nft-title {
  grid-column: span 8;
}
.nft-detail > .table-container {
  grid-column: span 8;
}
.table-search{
  display: flex;
  gap: var(--br);
  width: 100%;
  padding-top: var(--pad);
  align-items: center;
  justify-content: center;
  font-family: JSDongkang,Roboto,sans-serif;
}
.table-search a, .table-search p {
  border-radius: var(--br);
  padding: 5px 16px;
  background-color: var(--lightest-pri);
  &.dis {
    pointer-events: none;
    cursor: default;
    color: var(--g);
  }
}
.table-search p {
  cursor: pointer;
}

.type-search {
  border-radius: 5px;
  background-position: 50% 50%;
  padding: 3px 16px;
  width: 100px;
  background-color: var(--lightest-pri);
}

.blc-num, .tx-hash, .blc-hash, .acc-hash, .token-id {
  color: var(--darken-pri);
  cursor: pointer;
}

.search-container {
  display: grid;
  height: 3em;
  grid-template-columns: repeat(12, 1fr);
}
.search-container > * {
  font-size: 16px;
}
.search-container > :first-child {
  padding-left: var(--pad);
  grid-column: span 10;
  border-radius: var(--br) 0 0 var(--br);
  ::placeholder {
    color: var(--lightest-pri)
  }
}
.search-container > :last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--darken-pri);
  border-radius: 0 var(--br) var(--br) 0;
  background-color: var(--darken-pri);
  color: var(--w0);
  grid-column: span 2;
}

input {
  border: 1px solid var(--lightest-pri);
  &:focus {
    outline: none;
    border-color: var(--primary);
    color: var(--primary);
  }
}
