footer {
  background-color: var(--w0);
}
footer * {
  color: #303972;
  font-size: 16px;
}
footer p > *, footer dt {
  color: var(--b1);
}
footer > div { 
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  gap: var(--pad);
}
footer .footer-left {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: var(--pad);
  > :first-child {
    display: flex;
    align-items: end;
    gap: .5em;
    strong {
      font-size: var(--t-text);
    }
  }
  strong {
    font-size: 16px;
    font-weight: var(--bold);
  }
}

footer .footer-right{
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  dl {
    flex: 0 0 40%;
  }
  dt {
    font-size: 14px;
    font-weight: var(--bold);
  }
  dd{
    padding-top: var(--br);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 12px;
  }
  a{
    display: inline-flex;
    align-items: center;
    font-size: 10px;
    text-decoration: none;
    height: 20px;
    padding-left:35px;
    background-position: left top;
    background-size: auto 20px;
    background-repeat: no-repeat;
    &:hover{opacity: 0.8;}
  }
}
.icon-The-Moon-Labs{background-image: url(../img/footer/TMLS_303972.png);}
.icon-leisuremetaverse{background-image: url(../img/footer/LM.png);}
.icon-playnomm{background-image: url(../img/footer/playnomm.png);}
.icon-lm-nova{background-image: url(../img/footer/ilike.png);}
.icon-github{background-image: url(../img/footer/Github.png);}
.icon-telegram{background-image: url(../img/footer/icon_telegram.svg);}
.icon-twitter{background-image: url(../img/footer/Tweeter.png);}
.icon-discord{background-image: url(../img/footer/Discord.png);}

@media screen and (max-width: 800px) {
  footer  > div {
    flex-wrap: wrap;
  }
}
