.w-\[100\%\] {
    width: 100%;
}

.x {
    display: flex;
}

.xy-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.x-center {
    justify-content: center;
}

.y-start {
    align-items: flex-start
}


