.popup {
    right: -500px;
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 200px;
    position: fixed;
    bottom: -40px;
    right: -300;
    transition: all 0.3s ease-in-out;
   
  }
  .popup.true {
      right: 30px;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    cursor: pointer;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  .overlay.true {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: opacity 500ms;
    display: none;
    opacity: 1;
    display: block;
    z-index: 999;
  }


  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 180px;
    }
  }
