@charset "utf-8";
/* body {font-family: 'Roboto', sans-serif;} */
* {
  box-sizing: border-box;
  color: var(--b3);
}
html {
  font-family:  sans-serif;
  --primary: #3d5afe;
  --secondary: #ff7e40;
  --lightest-pri: #dadff7;
  --lighten-pri: #536dfe;
  --darken-pri: #304ffe;
  --lightest-sec: #ff9e80;
  --darken-sec: #ff3d00;
  --w0: #fff;
  --w1: #f5f5f5;
  --w2: #eee;
  --w3: #e0e0e0;
  --g: #9e9e9e;
  --b3: #757575;
  --b2: #616161;
  --b1: #424242;
  --b0: #000;
  --pad: 24px;
  --br: 8px;
  --t-text: 20px;
  font-size: 14px;
  --bold: 600;
}
a {
  cursor: pointer;
}
.main {
  background-color: #f6f7fe;
}
.main > * {
  display: flex; 
  flex-flow: column;
  align-items: center;
  padding: var(--pad) 0;
}
.main > * > * {
  width: 1200px;
}

header {
  /* width: 100vw; */
  background-color: var(--w0);
}

.con-wrap {
  gap: 8px var(--pad);
  min-height: calc(100vh - 350px);
}

.con-wrap > * {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--pad);
}
.board-area {
  gap: var(--pad);
  margin-bottom: calc(var(--pad) - 8px);
}

.board-comp {
  grid-column: span 3;
  background-color: var(--w0);
  border-radius: var(--br);
  border: 1px solid var(--lightest-pri);
  padding: 10px 16px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  > :first-child {
    grid-column: span 2;
    font-weight: var(--bold);
  }
  > :nth-child(2) {
    grid-column: span 2;
    font-size: var(--t-text);
    font-weight: var(--bold);
    color: var(--b1);
  }
  > :nth-child(3) {
    grid-column: span 2;
    display: flex;
    gap: 11px;
    align-items: center;
    > :first-child {
      padding: 3px 5px;
      background-color: var(--w3);
      border-radius: var(--br);
    }
    > :last-child {
      font-weight: var(--bold);
      &.pos {
        color: var(--darken-pri);
        &::before {
          content: "+";
        }
      }
      &.neg {
        color: var(--darken-sec);
      }
    }
  }
}
.board-comp.chart {
  > * {
    grid-column: span 1;
  }
  > :first-child {
    grid-row: 1;
  }
  > :nth-child(2) {
    grid-row: 2;
  }
  > :nth-child(3) {
    grid-row: 3;
  }
  svg {
    grid-row: 1 / 4;
    fill: transparent;
    aspect-ratio: 2/1;
    justify-self: end;
    align-self: self-end;
    path {
      stroke: var(--lighten-pri);
      stroke-width: 1;
      stroke-linejoin: round;
    }
    polyline {
      fill: var(--lightest-pri);
    }
  }
}

nav {
  display: flex;
  gap: calc(2 * var(--pad));
  padding-top: var(--pad);
  padding-bottom: 12px;
  align-items: baseline;
  * {
    font-size: var(--t-text);
    color: var(--b1);
    font-weight: var(--bold);
  }
  > :first-child {
    font-size: 32px;
    cursor: pointer;
  }
}

.con-wrap > .table-container:not(:last-child) {
  margin-bottom: calc(var(--pad) - 8px);
}
.table-container {
  grid-column: span 6;
  background-color: var(--w0);
  border-radius: var(--br);
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  border: 1px solid var(--lightest-pri);
  padding: var(--pad);
  position: relative;
}
.table-head {
  font-weight: var(--bold);
}
.table-container .row {
  display: grid;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--lightest-pri);
  gap: var(--br);
}
.table-container .row > * {
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-container.blc .row {
  grid-template-columns: 2fr 2fr 6fr 2fr;
}
.table-container.tx-m .row {
  grid-template-columns: 5fr 2fr 5fr;
}
.table-container.tx .row {
  grid-template-columns: 4fr 1fr 1fr 4fr 2fr;
}
.table-container.accs .row {
  grid-template-columns: 5fr 3fr 2fr 2fr;
}
.table-container.nfts .row {
  grid-template-columns: 1fr 5fr 2fr 2fr 2fr;
}
.table-container.nft-token .row {
  grid-template-columns: 1fr 3fr 3fr 3fr 2fr;
}
.table-container.nfts .row,
.table-container.nft-token .row {
  &.table-body {
    align-items: center;
    padding-top: 8px;
  }
  img {
    width: 48px;
    height: 48px;
    border-radius: var(--br);
  }
}
.table-container.nft .row {
  grid-template-columns: 3fr 1fr 2fr 3fr 3fr;
}
.table-title {
  display: flex;
  justify-content: space-between;

  > :first-child {
    font-size: var(--t-text);
    color: var(--b1);
    font-weight: var(--bold);
  }
  > :last-child {
    color: var(--w0);
    background-color: var(--primary);
    border-radius: var(--br);
    padding: 4px 16px;
  }
}

.page-title {
  display: block;
  font-size: var(--t-text);
  font-weight: var(--bold);
}

.detail .row {
  grid-template-columns: repeat(12, 1fr);
  border: none;
  :first-child {
    font-weight: var(--bold);
    grid-column: span 4;
  }
  :last-child {
    grid-column: span 8;
  }
  &:last-child {
    padding-bottom: 0;
  }
}
.detail .row.tri {
  :first-child {
    font-weight: var(--bold);
    grid-column: span 2;
  }
  :nth-child(2) {
    grid-column: span 5;
  }
  :last-child {
    grid-column: span 5;
  }
}

.nft-detail {
  grid-template-rows: auto auto;
  gap: 24px;
}

.nft-detail > img {
  grid-column: span 4;
  grid-row: span 3;
  width: 100%;
}
.nft-detail > .nft-title {
  grid-column: span 8;
}
.nft-detail > .table-container {
  grid-column: span 8;
}
.table-search{
  display: flex;
  gap: var(--br);
  width: 100%;
  padding-top: var(--pad);
  align-items: center;
  justify-content: center;
  font-family: JSDongkang,Roboto,sans-serif;
}
.table-search a, .table-search p {
  border-radius: var(--br);
  padding: 5px 16px;
  background-color: var(--lightest-pri);
  &.dis {
    pointer-events: none;
    cursor: default;
    color: var(--g);
  }
}
.table-search p {
  cursor: pointer;
}

.type-search {
  border-radius: 5px;
  background-position: 50% 50%;
  padding: 3px 16px;
  width: 100px;
  background-color: var(--lightest-pri);
}

.blc-num, .tx-hash, .blc-hash, .acc-hash, .token-id {
  color: var(--darken-pri);
  cursor: pointer;
}

.search-container {
  display: grid;
  height: 3em;
  grid-template-columns: repeat(12, 1fr);
}
.search-container > * {
  font-size: 16px;
}
.search-container > :first-child {
  padding-left: var(--pad);
  grid-column: span 10;
  border-radius: var(--br) 0 0 var(--br);
  ::placeholder {
    color: var(--lightest-pri)
  }
}
.search-container > :last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--darken-pri);
  border-radius: 0 var(--br) var(--br) 0;
  background-color: var(--darken-pri);
  color: var(--w0);
  grid-column: span 2;
}

.err-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  > :first-child {
    font-size: 32px;
  }
  > :nth-child(2) {
    font-size: var(--t-text);
  }
}

input {
  border: 1px solid var(--lightest-pri);
  &:focus {
    outline: none;
    border-color: var(--primary);
    color: var(--primary);
  }
}
