.type-1 {
    /* background-color: aliceblue; */
    /* height: 60px; */
    text-align: center;
    font-size: 15px;
    padding-left: 20px;
}

.type-2{
    text-align: center;
    padding-right: 20px;
}

.type-2 span {
    padding: 5px 15px;
    text-align: center;
    font-size: 13px;
    border: 1px rgb(26, 180, 62) solid;
    border-radius: 7px;
    color: green;
    cursor: pointer;
    -webkit-transition: background-color 0.2s;
    -moz-transition:    background-color 0.2s;
    -ms-transition:     background-color 0.2s;
    -o-transition:      background-color 0.2s;
    transition:         background-color 0.2s;
}

.type-2 span:hover {
    background-color: rgba(7, 21, 19, 0.892);
    padding: 5px 15px;
    text-align: center;
    font-size: 13px;
    border: 1px rgb(3, 20, 7) solid;
    border-radius: 7px;
    color: white;
    font-weight: bold;
}

.cell.type-button {
    padding: 5px 15px;
    text-align: center;
    font-size: 13px;
    border: 1px rgb(26, 180, 62) solid;
    border-radius: 7px;
    color: green;
    cursor: pointer;
    -webkit-transition: background-color 0.2s;
    -moz-transition:    background-color 0.2s;
    -ms-transition:     background-color 0.2s;
    -o-transition:      background-color 0.2s;
    transition:         background-color 0.2s;
}
.cell.type-button:hover {
    background-color: rgba(7, 21, 19, 0.892);
    padding: 5px 15px;
    text-align: center;
    font-size: 13px;
    border: 1px rgb(3, 20, 7) solid;
    border-radius: 7px;
    color: white;
    /* font-weight:600; */
}

.type-button {
    color: green;
    font-weight: 600;
}

.table-search .type-arrow {
    /* color: #14e0e000; */
    color: rgba(3, 2, 2, 0.525);
    border-radius: 5px;
    border: 1px solid #f0f3f5;
    background-position: 50% 50%;
    width: 35px;
}
.table-search .type-arrow:hover {
    color: rgb(65, 137, 65);
}
.table-search .type-plain-text {
    cursor: default !important;   
}
.table-search .type-search {
    border-radius: 5px;
    border: 1px solid #f0f3f5;
    background-position: 50% 50%;
    width: 100px;
 }
 .table-search .type-search:hover {
    color: rgb(65, 137, 65);
 }