.state.DashBoard._table-title.false{
    display: none;
}
.state.DashBoard._search.true{
    display: none;
}
.state.Click._textarea.true{
    display: none;
}
.state.Click._button.false{
    background-color: rgba(7, 21, 19, 0.892);
    padding: 5px 15px;
    text-align: center;
    font-size: 13px;
    border: 1px rgb(3, 20, 7) solid;
    border-radius: 7px;
    color: white;
    font-weight: bold;
}
