.board-area {
    padding: 0;
    /* padding: 25px; */
    /* background-color: blanchedalmond; */
}

.board-list {
    gap: 10px;
    padding: 15px 0 0px 0px;
    width: 100%;
    /* background: rgba(0, 0, 0, 0.069); */
}

.board-container {
    width: 100%;
    height: 120px;
    padding: 10px;
    background-color: hsla(0,0%,100%,.5);
    
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
    border: 1px solid #d3dede3e;
    font-size: 25px;
    border-radius: 10px;
    -webkit-transition: background-color 0.5s;
    -moz-transition:    background-color 0.5s;
    -ms-transition:     background-color 0.5s;
    -o-transition:      background-color 0.5s;
    transition:         background-color 0.5s;
}
.board-container:hover {
    background-color: rgba(230, 255, 250, 0.2);
    border: 1px solid #00ae87;
}

.board-text {
    display: flex;
    padding: 0 5px ;
    width: 400px;
    cursor: pointer;
}
.board-text::placeholder {
    padding: 0 5px ;
    color: rgba(0, 0, 0, 0.323);
    width: 400px;
    cursor: pointer;
}

