.search-area {
    padding: 25px;
    margin-bottom: 20px;
    /* background-color: blanchedalmond; */
}

.search-container {
    position: absolute;
    top: 10px;
    left: 120px;
    width: 450px;
    height: 46px;
    padding: 10px;
    padding-left: 20px;
    background-color: rgba(12, 17, 109, 0.081);
    margin-left: 180px;
    border: 1px solid #d3dede3e;
    border-radius: 30px;
}

.search-text {
    display: flex;
    padding: 0 5px ;
    width: 400px;
    cursor: pointer;
}
.search-text::placeholder {
    padding: 0 5px ;
    color: rgba(0, 0, 0, 0.323);
    width: 400px;
    cursor: pointer;
}

.search-icon {
    padding: 0 5px 0 15px;
    color: rgba(0, 0, 0, 0.323);
}