
.table-area {
    padding: 0px;
}
.table-list {
    gap: 10px;
    padding: 15px 0 0px 0px;
    width: 100%;
}
.table-container {
    width: 100%;
    padding: 10px;
    background-color: rgb(255 255 255 / 80%);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
    border: 1px solid #d3dede3e;
    border-radius: 10px;
}
.table-title{
    height: 60px;
}
.table-title-1{
    font-style: normal;
    font-weight: 700;
    font-family:  sans-serif;
}
.table-title-2{
    border: 1px solid #00ae87;
}
#table-blocks table{
    width: 100%;
}
.table-cell {
    display: table-cell;
    vertical-align: middle
}