/* oop :: table > row > cell */
.table-area {
    padding: 0px;
   
    /* text-align: center */
}

.table-title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.table-search{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
}
.table-search .xy-center {
    gap: 3px;
    font-size: medium;
    font-family: JSDongkang,Roboto,sans-serif;

}

.table-search .xy-center div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px ;
    cursor: pointer;
    -webkit-transition: all .25s;
    transition: all .25s;
    
}

.table-list {
    gap: 10px;
    padding: 15px 0 0px 0px;
    width: 100%;
}

.table-container {
    width: 100%;
    padding: 10px;
    background-color: rgb(255 255 255 / 80%);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
    border: 1px solid #d3dede3e;
    border-radius: 10px;
    font-size: 12px;
    font-family: JSDongkang,Roboto,sans-serif;
    font-style: normal;
}

.table-area .row {
    height: 35px;
}
.table-area .row:hover {
    background-color: rgba(201, 239, 205, 0.2);
}
.table-area .row:nth-child(even) {
    background-color: rgb(200 200 200 / 20%);
}
.table-area .row:nth-child(even):hover {
    background-color: rgba(201, 239, 205, 0.2);
}



.table-area .cell {
    height: 35px;
    border-top: 1px rgba(40, 50, 42, 0.1) solid;
}

.table-area .table-title .cell {
    border-top: 0px
}

/* type-TableDetail */

.type-TableDetail .row {
    width: 100%;
    height: 55px;    
}
.type-TableDetail .cell {
    height: 35px;
    border-bottom: 1px rgba(40, 50, 42, 0.1) solid;
}


/* .table-search {
    display: block;
    height: 40px;
    width: 100%; */
    /* background-color: red; */
/* } */

/* #oop-table-blocks > table > row > cell */
/* .table-area .table-title {
   height: 100px;
} */