/* oop :: table > row > cell */
.table-area {
    padding: 0px;
    font-size: 12px;
    font-family: JSDongkang,Roboto,sans-serif;
    font-style: normal;
    /* text-align: center */
}

.table-list {
    gap: 10px;
    padding: 15px 0 0px 0px;
    width: 100%;
}

.table-container {
    width: 100%;
    padding: 10px;
    background-color: rgb(255 255 255 / 80%);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
    border: 1px solid #d3dede3e;
    border-radius: 10px;
}

.table-title-1{
    font-style: normal;
    font-weight: 700;
    font-family:  sans-serif;
}
.table-title-2{
    border: 1px solid #00ae87;
}

.table-area .row {
    height: 35px;
}

.table-area .cell {
    height: 35px;
    border-top: 1px rgba(40, 50, 42, 0.1) solid;
}

.table-area .table-title .cell {
    border-top: 0px
}

.table-search {
    height: 40px;
}




/* #oop-table-blocks > table > row > cell */
/* .table-area .table-title {
   height: 100px;
} */