
/* flex , display */
.x {
    display: flex;
}

.center {
    /* table center */
    text-align: center;
    vertical-align: middle;  
}

.xy-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.x-center {
    display: flex;
    justify-content: center;
}

.y-start {
    display: flex;
    flex-direction: column 

}

.y-center {
    display: flex;
    flex-direction: column ;
    align-items: center;
}

/* flex , gap */
.gap-10px {
    gap: 10px;
}
.gap-20px {
    gap: 20px;
}

.gap-16px {
    gap: 16px;
}

.gap-32px {
    gap: 32px;
}

/* height */
.h-12px {
    height: 12px;
}

.h-16px {
    height: 16px;
}

.h-32px {
    height: 32px; 
}

.h-64px {
    height: 64px; 
}

/* padding */

.p-10px {
    padding: 10px;
}

.p-12px {
    padding: 12px;
}

.p-16px {
    padding: 16px;
}

.p-32px {
    padding: 32px; 
}

.p-64px {
    padding: 64px; 
}

/* padding-bottom */
.pb-12px {
    padding-bottom: 12px;
}

.pb-16px {
    padding-bottom: 16px;
}

.pb-32px {
    padding-bottom: 32px; 
}

.pb-64px {
    padding-bottom: 64px; 
}

/* padding-top */
.pt-12px {
    padding-top: 12px;
}

.pt-16px {
    padding-top: 16px;
}

.pt-32px {
    padding-top: 32px; 
}

.pt-64px {
    padding-top: 64px; 
}



/* width */
.w-\[100\%\] {
    width: 100%;
}

/* font */
.font-20px{
    font-size: 20px !important;
}

.font-40px{
    font-size: 40px !important;
}

.font-bold{
    font-weight: 700;
}
