.w-\[100\%\] {
    width: 100%;
}

.h-12px {
    height: 12px;
}

.x {
    display: flex;
}

.center {
    /* table center */
    text-align: center;
    vertical-align: middle;  
}

.xy-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.x-center {
    display: flex;
    justify-content: center;
}

.y-start {
    display: flex;
    align-items: flex-start
}

.y-center {
    display: flex;
    align-items: center;
}


