/* table > row > cell */
.table { 
    display: table; 
}
.row { 
    display: table-row;
}
.cell { 
    display: table-cell;    
}

/* table > row > cell  :: custom */
.table-area .row {
    font-size: 12px;
    font-family: JSDongkang,Roboto,sans-serif;
    font-style: normal;
}